<% provide(:title, "Simple Blog Home") %>

<div id="welcome_container" class="center jumbotron">
    <h1> Simple Blog </h1>
</div>

<div class="center container">
    <%= link_to "Sign Up", '#', class: "btn btn-lg" %>
</div>

<div id="log-in-btn" class="center container">
    <%= link_to "Log in", '#', class: "btn" %>
</div>